.project
.pydevproject
.settings
*.pyc
*.pyodjango_simple_math_captcha.egg-info
dist
django_simple_math_captcha.egg-info/dependency_links.txt
django_simple_math_captcha.egg-info/PKG-INFO
django_simple_math_captcha.egg-info/not-zip-safe
django_simple_math_captcha.egg-info/SOURCES.txt
django_simple_math_captcha.egg-info/top_level.txt
