<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Django Simple Math Captcha - Sample Project</title>
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="." method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Sample Form with Math Captcha</legend>
                <ul>
                    {{ form.as_ul }}
                    <li>
                        {% csrf_token %}
                        <input type="submit" value="Submit" />
                    </li>
                </ul>
            </fieldset>
        </form>
    </body>
</html>